numpy==1.20.2
tqdm==4.61.2
accelerate==0.3.0 
datasets==1.9.0 
deepspeed==0.5.0 
dill==0.3.4 
importlib-metadata==4.6.1 
pandas==1.3.0 
requests
sentencepiece==0.1.96 
scikit-learn==0.24.2 
scipy==1.7.0 
absl-py==1.0.0 
tensorflow==2.9.1
wrapt==1.12.1 
mlflow
tensorboardX
azureml-defaults 